<div class="nav-panel nav-component" mx-fixed>
    <section class="inner-a">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <a href=""><img id="logo" src="/assets/images/logo-maxlive.svg" alt="logo maxlive"></a>
                </div>
                <div class="col-md-7 ">
                    <div class="box-info-auction">
                        <ul class="info pull-right">
                            <li>
                                <span class="count-data">{{res?.lotes}}</span>
                                <i class="la la-legal"></i>&nbsp;Lotes
                            </li>
                            <li><span class="count-data">{{res?.hability}}</span><i class="la la-shield"></i>&nbsp;Habilit.</li>
                            <li><span class="count-data">{{res?.bids}}</span><i class="la la-coffee"></i>&nbsp;Lances</li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-2">
                   <!--  <a href="" title="Acessar conta" class="btn btn-primary pull-right btn-flat">
                        <span><i class="la la-cog"></i> </span> 
                         
                         </a> -->
                    <a href="" title="Realizar login no sistema" class="btn btn-primary pull-right btn-flat"> 
                        <span>
                                <i class="la la-user"></i> Entrar
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="inner-b">
        <div class="container-fluid">
            <div class="row">
            </div>
        </div>
    </section>
</div>