@import '../../scss/variables';

div.panel {
    overflow-x: hidden;
    background: $body-bg-darker;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    i,
    li,
    a {
        color: $font-color-panel;
    }
    a:link,
    a:active,
    a:visited {
        text-decoration: none;
    }
    .btn {
        border-radius: 2px;
    }
    .btn.btn-flat {
        background: none;
        border-color: $gray-light;
        color: $gray-light;
        font-weight: 500;
        text-transform: uppercase;
        margin: 0px;
    }
    .btn.btn-flat.btn-primary {
        border-color: $primary-blue;
    }
}